* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

/* INTRO */
.intro-bg { background: white; }

.start-card {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: #ffd6ea;
  padding: 40px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}

.title { color: #ff4f9a; font-size: 36px; }

.heart { font-size: 30px; animation: beat 1s infinite; }

@keyframes beat { 50% { transform: scale(1.3); } }

.tap { color: #ff6fb1; }

/* BLINK */
.blink {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
}

/* SCENE */
.scene {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
}

.ceiling {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PHONE */
.phone {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 260px;
  height: 380px;
  background: white;
  border: 6px solid black;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.phone input {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
}

.phone button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ff4f9a;
  color: white;
  border: none;
  border-radius: 20px;
}

/* PROFILE */
.profile {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 300px;
  background: #ffd6ea;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  display: none;
}

.avatar-box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  border: 4px solid #ff4f9a;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
}

.avatar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
    }
